/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color:white;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.colors{
    /* height: 550px; */
    width: 200px;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pole {
    height: 100px;
    width: 40px;
    background-color: black;
    margin: 0 auto;
}

.color {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    box-shadow: 0px 2px 25px 30px rgba(247, 247, 246, 0.836);
}


.buttons {
    display: flex;
    gap: 10px;
}

.btn {
  padding: 10px 18px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background: #555;
  margin: 0 auto;
}