:root {
  --color-fondo: linear-gradient(#051327,#000);
  --color-letra: #ffcd00;
  --size:2px
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Barlow Condensed", sans-serif;
  overflow: scroll;
}

.space {
  background-image: linear-gradient(#000,#051327);
  position: fixed;
  inset: 0;
}

.star {
  width: var(--size);
  height: var(--size);
  background: white;
  position: fixed;
  animation: moveStars var(--duration,20s) linear infinite;
}

@keyframes moveStars {
  from {transform: translateY(0);}
  to {transform: translateY(-100vh);}
}