* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /*outline: 1px solid red !important;*/

}

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0.5rem 2rem;
    font-size: medium;
    border-bottom: 1px solid gray;

    a {
        cursor: pointer;
        transition: 0.5s;
        align-self: center;
        &:hover {
            /* display: flex;
            flex-direction: column;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            height: 2rem;
            width: 6rem;
            background-color: rgba(51, 158, 197);;
            transform: scale(1.1);
            color: white; */
            outline: 8px solid rgba(51, 158, 197);
            background-color: rgba(51, 158, 197);
            text-decoration: none;
            color: white;
        }
    }
}

nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
}

button {
    color: white;
    background-color: rgba(51, 158, 197);
    height: 2rem;
    width: 3rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(1.4);
        background-color: #5cb1d1;
        color: black;
    }
}


main > div{
    display: flex;
    padding: 3rem;

    section {
        width: 800px;
        display: flex;
        flex-direction: column;
        h1 {
            line-height: 1.2; /* Ajusta el espacio entre líneas */
            width: 75%;
            font-size: 2.5rem;
            padding-bottom: 2rem;
        }

        p{
            line-height: 1.2; /* Ajusta el espacio entre líneas */
            width: 75%;
            padding: 2rem 0;
            color: rgb(56, 56, 56);
        }
    }
}

main > footer {
    display: flex;

    article {
        padding: 1rem;
    }
    .cuadrado {
        height: 12rem;
        background-color: rgba(241, 245, 246);
        margin: 1rem 0;
    }
}

#algo {
    margin-top: 70px;
    height: 500px;
    background-color: rgba(241, 245, 246);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 30px;
    padding-bottom: 50px;

    h1 {
        grid-column: 1/3;
        font-size: 3rem;
    }

    .giant-square {
        grid-column: 3;
        grid-row: 2 / 5;
        background-color: rgba(152, 170, 180);

        h2 {
            color: white;
            margin-top: 30px;
            margin-left: 15px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 2px;

            span {
                background-color: black;
                width: fit-content;
                margin: 2px;
                padding: 3px;

                &:nth-child(2) {
                    margin-left: 15px;
            }
            }

        }
    }

    .square-container {
        display: flex;
        align-items: baseline;
        justify-content: end;
        gap: 15px;
    }
    
    .small {
        width: 60px;
        height: 60px;
        background-color: rgba(152, 170, 180);
    }
}
