* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-post {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 680px;
  width: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
}

.perfil {
  display: grid;
  grid-template-areas:
    "logo tittle"
    "logo name";
}

.perfil i {
  grid-area: logo;
  align-self: center;
}

.perfil h1 {
  font-size: 1.1rem;
  grid-area: tittle;
  align-self: center;
}

.perfil span {
  grid-area: name;
  font-size: 1rem;
}

i {
  font-size: 1.9rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

section > img {
  height: 400px;
  width: 500px;
  object-fit: cover;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icons {
  padding: 0rem 1rem;
  display: flex;
  i {
    font-size: 2rem;
    cursor: pointer;
  }
}

.icons i:last-child {
  margin-left: auto;
}

.icons i:first-child {
  transition: all 0.4s ease;
  &:active {
    color: red;
  }
  &:hover {
    transform: scale(1.15);
  }
}
.icons svg:last-child {
  margin-left: auto;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem 1rem 1rem;
  strong:hover {
    cursor: pointer;
  }

  p {
    text-align: justify;
    max-height: 8.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}